#pics{
	width:150px;
	height:150px;
	border: 2px solid black;
	display: inline-block;
	border-radius: 10px;
	margin: 5px 5px 5px 5px;
}

#outside{
	border: 7px dashed red;
	border-radius: 30px;
	width: 500px;
	height: 500px;
	padding: 10px 10px 8px 10px;
}
img{
	width: 150px;
	height: 150px;
}