#container { 
  border: 7px dashed red;
  border-radius: 30px;
  width: 500px;
  height: 500px;
  position: relative;
  padding: 15px;
  -webkit-transform-style: preserve-3d;
}
.card {
  width: 150px;
  height: 150px;
  position: relative;
  display: inline-block;
  border-radius: 10px;
  background: url('http://holidayjs.com/images/logo.png');
  background-size: 100%;
  -webkit-transition: all 5s;
}
.card.flipped {
  -webkit-transform: rotateY( 180deg );
}